|{{setTitle('学籍档案')}}

article.form-horizontal
  .form-group(ng-repeat='(key, value) in student.archives')
    label.col-xs-5.control-label {{key}}
    .col-xs-7
      p.form-control-static {{value}}
