include ../common/utils

|{{setTitle('关于')}}

article.article
  header.page-header
    h3
      +icon('screenshot', 'margin-right')
      |意图
  p.
    你有没有吐槽过学校的教务系统不能从校外访问，并且难以使用？
    这正是我们的意图所在：让教务系统更易用。
  ul
    li
      p 利用相思湖网站服务器做数据中转，可以实现校外成绩查询
    li
      p 移动设备兼容的网页设计，方便你随时随地使用教务系统
    li
      p
        |通过该平台提供统一的数据接口，可以进一步开发出手机客户端、
        a(href='#wechat') 微信公众平台

  header.page-header
    h3
      +icon('lock', 'margin-right')
      |隐私与安全
  p.
    我们注重个人的隐私，并保证你的个人信息不会以任何形式公开。
    需要声明的是，为了提高系统效率，你的一些信息（班级、课表、成绩）会被缓存在数据库中。
  p
    |为了让你可以清楚地知道我们的系统做了什么，我们选择将源代码公开，在
    a(href='https://github.com/xshweb/kingo-web') Github
    |你可以查看整个项目的源代码，如果你也是开发者，欢迎你的贡献。
  p.
    我们清楚地知道，没有绝对安全的系统，
    但我们仍然可以自信地将源代码公开，因为我们相信，
    虽然开源更容易将 bug 暴露，但系统也将因此而更加健壮。

  header.page-header
    h3
      +icon('wrench', 'margin-right')
      |开发者
  p.
    目前的开发者主要是相思湖网站网络部成员。
    如果你也是开发者，如果你也对“相思青果”感兴趣，欢迎你的 fork and pull :)
  ul
    li
      p
        +icon('user', 'margin-right')
        |丘翔
        br
        +icon('tag', 'margin-right')
        |10网络工程
        br
        +icon('envelope', 'margin-right')
        a(href='mailto:xiang.qiu@qq.com') xiang.qiu@qq.com
    li
      p
        +icon('user', 'margin-right')
        |徐伟榕
        br
        +icon('tag', 'margin-right')
        |11软件工程1班
        br
        +icon('envelope', 'margin-right')
        a(href='mailto:weirongxuraidou@gmail.com') weirongxuraidou@gmail.com
