@font-family-sans-serif:  'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
@icon-font-path: "http://cdn.staticfile.org/twitter-bootstrap/3.1.1/fonts/";

@brand-primary:         #1abc9c;
@brand-success:         #2ecc71;
@brand-info:            #3498db;
@brand-warning:         #f39c12;
@brand-danger:          #e74c3c;
