extends base

block body
  #body
    aside#side
      header#side-header
        h1.appName
          a(href='/')
            img(src='images/xshweb-logo-white.png' width='32' alt='相思湖网站 Logo' title='相思青果')
      ul
        li(ng-repeat='group in menu')
          span(ng-if='group.name') {{group.name}}
          ul
            li(ng-repeat='item in group.items')
              a(href='#/{{item.url}}' ng-class='{active: item.url == getCurrentPath()}')
                span.glyphicon(class='glyphicon-{{item.icon}}')
                |{{item.label}}

    #main
      nav#top-nav
        button#side-toggle.navbar-toggle(type='button')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        h2.title {{title}}
        ul.links
          li
            a(href='#/logout' ng-if='student') 退出
            a(href='#/login' ng-if='!student && getCurrentPath() != "login"') 登录
      .container
        ng-view(onload='sidebar.reset()')

  script(src='scripts/require.min.js' data-main='scripts/app/dev')
