extends base

block body
  // [if lt IE 9]
  script.
    document.createElement('ng-view');
  // [endif]

  #body
    aside#side
      header#side-header
        h1.appName
          a(href='/')
            img(src=staticFile+'images/xshweb-logo-white.png' width='32' alt='相思湖网站 Logo' title='相思青果')
      ul
        li(ng-repeat='group in menu')
          span(ng-if='group.name') {{group.name}}
          ul
            li(ng-repeat='item in group.items')
              a.active(href='#/{{item.url}}' ng-if='item.url == $location.path().substr(1)')
                +linkItem()
              a(href='#/{{item.url}}' ng-if='item.url != $location.path().substr(1)')
                +linkItem()

    #main
      nav#top-nav
        button#side-toggle.navbar-toggle(type='button')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        h2.title {{title}}
        ul.links
          li
            a(href='#/logout' ng-if='student') 退出
            a(href='#/login' ng-if='!student && $location.path() != "/login"') 登录
      .container
        ng-view(onload='onload()')

  each script in config.scripts.app
    script(src=script)

mixin icon(iconName)
  span.glyphicon(class='glyphicon-'+iconName)

mixin linkItem()
  +icon('{{item.icon}}')
  |{{item.label}}
